@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --main-text-color: #565C66;
  --additional-text-color: #2D3440;
  --main-background-color: #FEAFC3;
  --promo-background-color: #FF7799;
  --button-color: #FCFCFC;
  --button-secondary-color: #FF2F64;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  padding: 24px 0;
  color: var(--additional-text-color);
}

.logo {
  display: block;
  min-width: 137px;
  padding: 0;
  margin: 0 16px 0 0;
}

.page-header__image {
  vertical-align: middle;
}

.site-navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.site-navigation__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-navigation__item {
  position: relative;
}

.site-navigation__link {
  display: block;
  line-height: 20px;
  font-style: inherit;
  color: var(--additional-text-color);
  text-decoration: none;
  border-radius: 30px;
  padding: 8px 16px;
  margin: 0;
}

.site-navigation__link--active {
  color: var(--button-color);
  background-color: #FF4A78;
}

.site-navigation__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.site-navigation__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--additional-text-color);
  outline-offset: 0ch;
}

.site-navigation__link:active {
  background-color: var(--button-color);
  outline: none;
}

.navigation-user {
  font-size: 14px;
  min-width: 431px;
  justify-content: flex-end;
}

.navigation-user__item {
  position: relative;
  padding: 0;
  margin-right: 17px;
}

.navigation-user__item--main {
  margin: 6px 16px 6px 0;
  font-weight: 700;
}

.navigation-user__item:last-child {
  margin-right: 0;
}

.navigation-user__link {
  text-decoration: none;
  color: var(--additional-text-color);
  padding: 6px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-user__link--active {
  color: var(--button-color);
  background-color: #FF4A78;
}

.navigation-user__link--active .navigation-user__icon {
  fill: var(--button-color);
}

.navigation-user__link--main {
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  background-color: transparent;
}

.navigation-user__link--search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.navigation-user__icon--search {
  fill: #000000;
}

.navigation-user__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-user__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--additional-text-color);
  outline-offset: 0;
}

.navigation-user__link:active {
  background-color: var(--button-color);
  outline: none;
}

.navigation-user__link--login,
.navigation-user__link--cart {
  position: relative;
  padding-left: 38px;
}

.navigation-user__icon--login,
.navigation-user__icon--cart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-left: 16px;
  fill: var(--additional-text-color);
}

.slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.slider-description {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin: 136px 0 48px 66px;
}

.slider-description__list {
  color: var(--additional-text-color);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-description__title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  padding: 0;
  margin: 0 0 24px 4px;
}

.slider-description__text {
  width: 414px;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 59px 4px;
}

.slider-description__item--inactive {
  display: none;
}

.slider-content {
  width: 630px;
}

.slider-content__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 21px 0 0 25px;
  padding: 0;
  list-style-type: none;
}

.slider-content__item {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 75px;
}

.slider-content__item:last-child {
  margin-right: 0;
}

.slider-content__item::before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  top: 25px;
  z-index: -1;
  opacity: 0.4;
}

.slider-content__item--active {
  width: 312px;
  justify-content: flex-start;
  margin-right: 75px;
}

.slider-content__item--active::before {
  width: 312px;
  height: 312px;
  top: 100px;
  opacity: 1;
}

.slider-control {
  width: 350px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 258px;
  left: 542px;
}

.slider-control__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 26px;
  border: 2px solid var(--button-color);
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-control__icon {
  fill: var(--button-color);
}

.slider-control__button--next {
  transform: rotate(180deg);
}

.slider-control__button:hover {
  cursor: pointer;
  background-color: var(--button-color);
}

.slider-control__button:hover .slider-control__icon {
  fill: var(--additional-text-color);
}

.slider-control__button:focus {
  border: 2px solid var(--additional-text-color);
  outline: none;
}

.slider-control__button:focus .slider-control__icon {
  fill: var(--additional-text-color);
}

.slider-control__button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider-control__button:active .slider-control__icon {
  fill: var(--additional-text-color);
}

.slider-control__button:disabled {
  opacity: 0.4;
}

.button {
  font-family: inherit;
  color: var(--additional-text-color);
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 32px;
  background-clip: padding-box;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  box-sizing: border-box;
}

.button--main {
  background-color: var(--button-color);
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.button--main:hover {
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button--main:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--additional-text-color);
  background-clip: border-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--main:active {
  padding: 14px 34px;
  background-color: var(--button-color);
  outline: none;
  border: 2px solid var(--additional-text-color);
  background-clip: border-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--main:disabled {
  color: #B9B9B9;
  background-color: #E7E7E7;
}

.slider-pagination {
  display: flex;
  min-width: 52px;
  list-style-type: none;
  padding: 0;
  margin: 14px 0 0;
}

.slider-pagination__item:not(:last-child) {
  margin-right: 8px;
}

.slider-pagination__button {
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 0;
  margin: 0;
}

.slider-pagination__button--active {
  background-color: var(--button-color);
}

.slider-pagination__button:hover {
  cursor: pointer;
  border: 1px solid var(--button-color);
}

.slider-pagination__button:focus {
  outline: 1px solid var(--additional-text-color);
}

.slider-pagination__button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.social-list {
  display: flex;
  min-width: 104px;
}

.slider-social-list {
  margin: 0 0 0 auto;
}

.social-list__link {
  position: relative;
  display: flex;
  padding: 0;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-color: transparent;
  background-clip: content-box;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.social-list__link:last-child {
  margin-right: 0;
}

.social-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: var(--button-color);
}

.social-list__link:hover {
  background-color: var(--additional-text-color);
}

.social-list__link:focus {
  background-color: var(--additional-text-color);
  border: 2px solid var(--additional-text-color);
  outline: none;
}

.social-list__link:active {
  background-color: var(--additional-text-color);
  opacity: 0.5;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.promo {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 20px 30px;
  margin-bottom: 81px;
}

.main-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: var(--additional-text-color);
  text-align: center;
  margin: 0;
  padding: 0;
}

.promo__main-title {
  grid-column: 1 / -1;
  padding: 0 368px;
  margin: 0 0 33px 0;
}

.promo__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 570px;
  padding: 36px 206px 32px 32px;
  background-color: var(--promo-background-color);
  border-radius: 16px;
}

.promo__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--additional-text-color);
  padding: 0;
  margin: 0 0 28px 4px;
}

.promo__description {
  color: var(--additional-text-color);
  padding: 0;
  margin: 0 0 24px 4px;
}

.promo__button {
  max-width: 184px;
  box-sizing: border-box;
}

.promo__card--rasberry {
  background: var(--promo-background-color) url("../images/backgrounds/background-rasberry.png") no-repeat 100% 0;
}

.promo__card--marshmallow {
  background: var(--promo-background-color) url("../images/backgrounds/background-marshmallow.png") no-repeat 100% 0;
  padding-right: 235px;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.product__main-title {
  margin: 0 321px 107px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 81px 30px;
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 270px;
  padding: 133px 40px 24px;
  background-color: var(--button-color);
  border-radius: 8px;
}

.product__image {
  position: absolute;
  top: -51px;
  left: 51px;
}

.product__link {
  text-decoration: none;
  color: var(--additional-text-color);
}

.product__title {
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 8px;
  text-align: center;
}

.product__description {
  color: var(--main-text-color);
  text-align: center;
  padding: 0;
  margin: 0 0 16px;
  flex-grow: 1;
}

.product__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

.product__price {
  font-size: 20px;
  line-height: 24px;
  color: var(--additional-text-color);
}

.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 50%;
  box-sizing: border-box;
}

.product__icon {
  fill: var(--button-color);
}

.product__button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--button-secondary-color);
}

.product__button:hover .product__icon {
  fill: #000000;
}

.product__button:focus {
  background-color: var(--button-secondary-color);
  border: 2px solid var(--additional-text-color);
  outline: none;
}

.product__button:focus .product__icon {
  fill: var(--button-color);
}

.product__button:active {
  background-color: #FFCBD8;
  border: 2px solid var(--button-secondary-color);
}

.product__button:active .product__icon {
  fill: var(--additional-text-color);
}

.product__button--disabled {
  background-color: #B9B9B9;
}

.product__button--disabled .product__icon {
  fill: #565C66;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff url("../images/backgrounds/background-advantages.png") no-repeat 50% 0 / cover;
  border-radius: 16px;
  padding: 24px;
  min-height: 480px;
  margin-bottom: 80px;
}

.advantages-container {
  display: flex;
  width: 1122px;
  flex-direction: column;
  padding: 56px 40px;
  background-color: #ffffff;
  border-radius: 16px;
}

.advantages__main-title {
  margin-bottom: 56px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 40px 33px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  position: relative;
  padding-left: 64px;
}

.advantages__item::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  border: 2px solid var(--additional-text-color);
  border-radius: 50%;
}

.advantages__item--production::after {
  background: url("../images/icons/icon-icecream.svg") no-repeat 50% 50%;
}

.advantages__item--purchase::after {
  background: url("../images/icons/icon-cow.svg") no-repeat 50% 50%;
}

.advantages__item--materials::after {
  background: url("../images/icons/icon-leaf.svg") no-repeat 50% 50%;
}

.advantages__item--delivery::after {
  background: url("../images/icons/icon-thermometer.svg") no-repeat 50% 50%;
}

.news {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  margin-bottom: 80px;
}

.news-container {
  display: flex;
  flex-direction: column;
  width: 570px;
  border-radius: 16px;
  padding: 32px;
  min-height: 224px;
}

.news-container__blog {
  background: #ffffff url("../images/backgrounds/background-news.png") no-repeat 0 50% / cover;
  padding-right: 235px;
  padding-bottom: 67px;
}

.news-container__description {
  line-height: 20px;
  padding: 0;
  margin: 0 0 12px;
}

.news-container__link {
  font-size: 24px;
  line-height: 30px;
  color: var(--additional-text-color);
  font-weight: 700;
  text-decoration: none;
}

.news-container__mail {
  background: #ffffff url("../images/backgrounds/background-mail.png") no-repeat 0 50% / cover;
  padding: 6px;
}

.new-container__mail-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 558px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 26px;
}

.news-container__description-mail {
  line-height: 22px;
  margin-bottom: 42px;
}

.news-container__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 506px;
}

.input {
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  background-color: #ffffff;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 50px 14px 16px;
  max-height: 48px;
}

.news-container__input {
  width: 332px;
}

.button--secondary {
  font-size: 16px;
  color: var(--button-color);
  background-color: var(--button-secondary-color);
  border: 4px solid rgba(255, 47, 100, 0.3);
}

.button--secondary:hover {
  cursor: pointer;
  color: var(--additional-text-color);
  background-color: rgba(252, 252, 252, 0.3);
  border: 4px solid #FF2F64;
}

.button--secondary:focus {
  background-color: #FF2F64;
  outline: 2px solid var(--additional-text-color);
  background-clip: border-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--secondary:active {
  padding: 14px 34px;
  background-color: #FEAFC3;
  outline: none;
  border: 2px solid var(--additional-text-color);
  background-clip: border-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--secondary:disabled {
  color: var(--main-text-color);
  background-color: #B9B9B9;
}

.delivery {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background: #ffffff url("../images/backgrounds/background-delivery.jpg") no-repeat center/ cover;
  padding: 64px;
  padding-left: 100px;
  margin-bottom: 80px;
}

.delivery-container__description {
  display: flex;
  flex-direction: column;
  width: 371px;
}

.delivery__title {
  text-align: start;
  margin-bottom: 24px;
  margin-top: 103px;
}

.delivery__description {
  margin: 0;
  padding: 0;
}

.dilivery-container__form {
  width: 500px;
  background-color: var(--button-color);
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  padding: 40px 40px 38px;
}

.dilivery-container__description {
  margin: 0 40px 32px 0;
}

.delivery__form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 14px;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__container--address {
  grid-column: 1 / -1;
}

.form__label {
  line-height: 20px;
  font-weight: 700;
  color: var(--additional-text-color);
  margin-bottom: 8px;
}

.delivery__input--date,
.delivery__input--address {
  padding-right: 16px;
}

.delivery__input--phone {
  margin-left: 2px;
}

.button-delivery {
  grid-column: 2 / -1;
  max-width: 160px;
  margin-top: 8px;
}

.contact {
  background: var(--button-color) url("../images/backgrounds/background-contacts.jpg") no-repeat center / cover;
  border-radius: 16px;
  padding: 64px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 343px;
  background-color: var(--button-color);
  padding: 16px 40px 36px 36px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contact__description {
  margin: 24px 0 12px 4px;
}

.contact__main-info {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: var(--additional-text-color);
  margin-left: 4px;
}

.contact__main-info--phone {
  margin-bottom: 0;
}

.contact__additional-info {
  margin: 0 0 28px 4px;
  font-size: 14px;
  line-height: 20px;
}

.button-contact {
  max-width: 258px;
}

.page-footer {
  padding: 45px 14px 48px 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-social-list {
  margin-right: auto;
}

.footer-navigation {
  margin-right: 200px;
}

.footer-navigation__list {
  display: grid;
  grid-template-columns: 126px 182px;
  gap: 6px 24px;
  width: 356px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 24px;
}

.footer-navigation__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--additional-text-color);
}

.footer-navigation__item--active {
  position: relative;
  font-weight: 700;
}

.footer-navigation__item--active::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/icons/heart.svg") no-repeat center;
  top: 3px;
  left: -23px;
}

.htmlacademy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: var(--additional-text-color);
  min-height: 57px;
}

.htmlacademy__description {
  padding: 0;
  margin: 0;
}

.htmlacademy__description-link {
  color: var(--additional-text-color);
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

.page-header--inner {
  margin-bottom: 31px;
}

.filter-header {
  margin-bottom: 40px;
}

.filter-breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 16px;
}

.filter-breadcrumbs__item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}

.filter-breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat center;
  top: 6px;
  right: -20px;
}

.filter-breadcrumbs__link {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--additional-text-color);
  text-decoration: none;
}

.filter-breadcrumbs__link--active {
  border-bottom: 1px solid var(--additional-text-color);
}

.filter-header__title {
  text-align: left;
}

.filter-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 823px;
  margin-bottom: 80px;
}

.filter-form__group {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
  margin: 0 24px 16px 0;
}

.filter-form__title {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--additional-text-color);
  padding: 0;
  margin: 0 auto 8px 16px;
}

.filter-form__select {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  width: 196px;
  padding: 8px 34px 8px 16px;
  border: none;
  border-radius: 20px;
  appearance: none;
  background: rgba(252, 252, 252, 0.3) url("../images/icons/arrow-select.svg") no-repeat 167px center;
}

.filter-form__select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.filter-form__select:focus {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid var(--button-color);
}

.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  min-height: 36px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  display: block;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 30px;
}

.range-bar {
  position: absolute;
  width: 72px;
  height: 2px;
  left: 32px;
  background-color: var(--main-text-color);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--button-color);
  border: 6px solid var(--additional-text-color);
  top: -7px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
}

.toggle-min {
  left: -8px;
}

.toggle-max {
  right: -8px;
}

.range-toggle:hover {
  background-color: var(--additional-text-color);
  border-color: var(--button-color);
}

.range-toggle:focus {
  background-color: var(--additional-text-color);
  border-color: var(--button-color);
  outline: 2px solid var(--additional-text-color);
}

.range-toggle:active {
  background-color: var(--additional-text-color);
  border-color: var(--additional-text-color);
  outline: none;
}

.filter-form__group--radio {
  margin-right: 0;
}

.filter-form__list {
  display: flex;
  justify-content: space-between;
  min-width: 383px;
  font-size: 14px;
  line-height: 20px;
  color: var(--additional-text-color);
  padding: 8px 24px;
  margin: 0;
  list-style-type: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.filter-form__item {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-form__item:not(:last-child) {
  margin-right: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.control-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid var(--additional-text-color);
  border-radius: 50%;
  top: 2px;
  left: 0;
  margin: 0;
  padding: 0;
}

.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--additional-text-color);
  border-radius: 50%;
}

.control-input[type="radio"]:hover + .control-mark {
  border: 1px solid var(--button-color);
}

.control-input[type="radio"]:hover + .control-mark::after {
  background-color: var(--button-color);
}

.control-input[type="radio"]:disabled + .control-mark,
.control-input[type="radio"]:disabled + .control-mark::after  {
  opacity: 0.4;
}

.filter-form__list--checkbox {
  padding: 9px 24px;
}

.control-input[type="checkbox"] + .control-mark {
  border: none;
  border-radius: 0;
  background: url("../images/icons/checkbox.svg") no-repeat;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background: none;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/icons/checkbox-mark.svg") no-repeat;
  top: 0;
  left: 0;
}

.control-input[type="checkbox"]:hover + .control-mark {
  background: url("../images/icons/checkbox-hover.svg") no-repeat;
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
  background: none;
}

.control-input[type="checkbox"]:hover + .control-mark::after {
  background: url("../images/icons/checkbox-hover-active.svg") no-repeat;
}

.control-input[type="checkbox"]:disabled + .control-mark,
.control-input[type="checkbox"]:disabled + .control-mark::after {
  opacity: 0.4;
}

.button--form {
  min-width: 189px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 52px;
  border: 2px solid var(--button-color);
  margin: 12px 0 0 -5px;
}

.button--form:hover {
  background-color: var(--button-color);
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.button--form:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 2px solid var(--additional-text-color);
}

.button--form:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: rgba(252, 252, 252, 0.5);
}

.button--form:disabled {
  opacity: 0.4;
}

.product-inner {
  position: relative;
  margin-bottom: 40px;
}

.product-inner::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
  left: 0;
  right: 0;
  bottom: -40px;
}

.product-container--inner {
  gap: 91px 30px;
  margin-bottom: 16px;
}

.product-pagination {
  display: flex;
  align-items: center;
  padding: 37px 0;
}

.button-pagination {
  font-size: 16px;
  margin-left: auto;
  margin-right: 331px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 168px;
}

.product-pagination__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  min-height: 24px;
  color: var(--additional-text-color);
  line-height: 20px;
  text-decoration: none;
  border-radius: 50%;
  box-sizing: border-box;
}

.product-pagination__link--back {
  justify-content: flex-start;
}

.product-pagination__link--active {
  background-color: var(--button-color);
}

.product-pagination__icon {
  fill: var(--additional-text-color);
}

.product-pagination__link--inactive {
  opacity: 0.3;
}

.product-pagination__link--next {
  justify-content: flex-start;
  transform: rotate(180deg);
}

.product-pagination__link:hover {
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.5);
}

.product-pagination__link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid var(--additional-text-color);
  outline: none;
}

.product-pagination__link:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid var(--button-color);
  outline: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
}

.modal-index {
  background-color: var(--button-color);
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 64px 64px 62px;
}

.modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  top: 32px;
  right: 32px;
  border: none;
}

.modal__icon {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.modal__button:hover {
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content__title {
  font-size: 24px;
  line-height: 30px;
  color: var(--additional-text-color);
  margin: 0 auto 32px 0;
}

.modal-content__feedback-form {
  display: grid;
  grid-template-columns: 270px 160px;
  gap: 16px 12px;
  width: 442px;
}

.modal__input,
.modal__textarea {
  grid-column: 1 / -1;
}

.button-modal {
  grid-column: 2 / -1;
}

.modal__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  min-height: 48px;
  padding: 13px 250px 13px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal__textarea {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  min-height: 147px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  resize: none;
}

.modal-container-closed {
  display: none;
}

.popover {
  font-family: inherit;
  background-color: var(--button-color);
  border-radius: 4px;
  padding: 48px;
  z-index: 1;
  filter: drop-shadow(0 15px 40px rgba(45, 52, 64, 0.12));
  box-sizing: border-box;
  display: none;
}

.popover-cart {
  position: absolute;
  width: 441px;
  padding: 48px 48px 44px 44px;
  top: 38px;
  right: 0;
}

.popover__title {
  font-size: 24px;
  line-height: 30px;
  color: var(--additional-text-color);
  margin: 0 0 32px;
}

.popover-cart__list {
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--additional-text-color);
  list-style-type: none;
  padding: 0;
  margin-bottom: 60px
}

.popover-cart__list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E7E7E7;
  bottom: -31px;
}

.popover-cart__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.popover-cart__item:last-child {
  margin-bottom: 0;
}

.popover-cart__image {
  display: block;
  margin-right: 16px;
}

.popover-cart__product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}

.popover-cart__product-name {
  margin: 0 0 4px;
}

.popover-cart__product-quantity {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
  margin: 0;
}

.popover-cart__product-price {
  margin: 0 52px 0 0;
}

.popover-cart__button {
  display: block;
  width: 20px;
  min-height: 20px;
  border: none;
  background: transparent url("../images/icons/close-popover.svg") no-repeat center;
}

.popover-cart__button:hover {
  cursor: pointer;
}

.popover-cart__total-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover-cart__summary {
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--additional-text-color);
}

.popover-cart--empty {
  width: 288px;
  padding: 48px 20px;
  display: none;
}

.popover__title--empty {
  margin: 0;
  text-align: center;
}

.popover-entry {
  position: absolute;
  width: 420px;
  padding: 48px;
  top: 38px;
  right: 0;
}

.popover-entry__form,
.popover-search__form {
  display: grid;
  grid-template-columns: 121px 1fr;
  gap: 16px 19px;
}

.popover-entry__input,
.popover-search__input {
  position: relative;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--additional-text-color);
  width: 324px;
  padding: 13px 140px 13px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  grid-column: 1 / -1;
}

.button--entry,
.popover-entry__link-container {
  margin-top: 16px;
}

.popover-entry__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.popover-entry__link {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--additional-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--additional-text-color);
}

.popover-search {
  position: absolute;
  width: 356px;
  padding: 24px 16px;
  top: 38px;
  right: 0;
}

.popover-catalog {
  position: absolute;
  width: 138px;
  padding: 8px 0;
  top: 45px;
  left: 0;
}

.popover-catalog__list {
  list-style-type: none;
  padding: 0;
}

.popover-catalog__item--active {
  position: relative;
  font-weight: 700;
  margin-bottom: 8px;
}

.popover-catalog__item--active::after {
  position: absolute;
  content: "";
  width: 103px;
  height: 1px;
  background-color: #B9B9B9;
  top: 40px;
  left: 16px;
  right: 16px;
}

.popover-catalog__link {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--additional-text-color);
  text-decoration: none;
  padding: 8px 16px;
  box-sizing: border-box;
}

.popover--open {
  display: block;
}

.popover-search__button {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: transparent url("../images/icons/close.svg") no-repeat center;
  border: none;
  top: 40px;
  right: 29px;
  display: none;
}

.navigation-user__link--search:active + .popover-search,
.navigation-user__link--login:active + .popover-entry,
.navigation-user__link--cart:active + .popover-cart {
  display: block;
}

.site-navigation__link--catalog:hover + .popover-catalog {
  display: block;
}

.input:hover,
.popover-entry__input:hover,
.popover-search__input:hover {
  color: var(--additional-text-color);
  border-color: var(--additional-text-color);
}

.input:focus,
.popover-entry__input:focus,
.popover-search__input:focus   {
  outline: 1px solid var(--additional-text-color);
  border-color: var(--additional-text-color);
}

.input-error {
  border-color: #EA5454;
}

.input-error:hover {
  border-color: #EA5454;
  outline: 1px solid #EA5454;
}

.input-disabled {
  background-color: #E7E7E7;
  opacity: 0.65;
}

.input-disabled:hover {
  opacity: 1;
}
